@tailwind base;
@tailwind components;
@tailwind utilities; 

 html {
  height: 100%;
  min-height: 100%;
} 

 body {
    font-family: 'Nunito', sans-serif;  
    font-family: 'Roboto', sans-serif;
}

.form {
  width: 400px;
  margin: 10px auto;
}
.form-group {
  width: 100%;
  margin-bottom: 10px;
  display: block;
}
.form-group label {
  display: block;
  margin-bottom: 10px;
}
.form-group input[type="text"] {
  padding: 10px;
  width: 100%;
}
.form-group textarea {
  padding: 10px;
  width: 100%;
}
.alert-error {
  width: 100%;
  color: red;
  margin-bottom: 10px;
}
.alert-message {
  width: 100%;
  color: green;
  margin-bottom: 10px;
}




